.repo-language-color:before
  border-radius 50%
  display inline-block
  height 12px
  position relative
  top 0px
  width 12px
  content ''
  margin-right 5px
  z-index -1

.repo-language-color
  
  &[name="JavaScript"]:before
    background-color #f1e05a

  &[name="Vue"]:before
    background-color #42b983

  &[name="HTML"]:before
    background-color #e34c26

  &[name="C"]:before
    background-color #555555    

  &[name="Shell"]:before
    background-color #89e051

  &[name="C++"]:before
    background-color #f34b7d

  &[name="OCaml"]:before　
    background-color #3be133

  &[name="Python"]:before   
    background-color #3572A5

  &[name="C#"]:before
    background-color #178600

  &[name="Ruby"]:before
    background-color #701516

  &[name="Dockerfile"]:before
    background-color #0db7ed

  &[name="Java"]:before
    background-color #b07219

  &[name="CSS"]:before
    background-color #563d7c

  &[name="Objective-C"]:before
    background-color #438eff

  &[name="TypeScript"]:before
    background-color #2b7489

  &[name="Dart"]:before
    background-color #00B4AB

  &[name="CoffeeScript"]:before
    background-color #244776

  &[name="Rust"]:before
    background-color #dea584

  &[name="Other"]:before
    background-color #ededed

  &[name="Makefile"]:before
    background-color #427819

  &[name="Swift"]:before
    background-color #ffac45

  &[name="Pascal"]:before
    background-color #E3F171

  &[name="PHP"]:before
    background-color #4F5D95

  &[name="Assembly"]:before
    background-color #6E4C13

  &[name="Batchfile"]:before
    background-color #c1f12e

  &[name="Perl"]:before
    background-color #0298c3
